    <header>
        <div class="logo">
            <h1><a href="index.html">HorizonNotes</a></h1>
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">トップ</a></li>
                <li><a href="../about.html">概要</a></li>
                <li><a href="../rule.html">ルール</a></li>
                <li><a href="../story.html">ストーリー</a></li>
                <li><a href="../characters.html">キャラクター</a></li>
                <li><a href="../cards.html">カード</a></li>
                <li><a href="../gallery.html">ギャラリー</a></li>
                <li><a href="../faq.html">FAQ</a></li>
                <li><a href="https://note.com/horizonnotes_108" target="_blank">開発ブログ</a></li>
                <li><a href="../contact.html">連絡先</a></li>
            </ul>
        </nav>
    </header>